apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: newt

resources:
  - ../../base
  - sealed-secret.yaml

configMapGenerator:
  - name: blueprints-raw
    files:
      - blueprints/argocd.yaml
      - blueprints/authentik.yaml
      - blueprints/longhorn.yaml

patches:
  - path: patch-blueprints.yaml

helmCharts:
  - name: newt
    repo: https://charts.fossorial.io
    version: 1.1.0
    releaseName: newt
    namespace: newt
    includeCRDs: true
    valuesFile: values.yaml
