apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: newt

resources:
  - ../../base
  - sealed-secret.yaml

configMapGenerator:
  - name: blueprints-raw
    files:
      - blueprints/argocd.yaml
      - blueprints/authentik.yaml
      - blueprints/longhorn.yaml
    options:
      disableNameSuffixHash: true

patches:
  - target:
      kind: Deployment
      name: newt-newt-main-tunnel
    patch: |-
      # Init Container to merge blueprints
      - op: add
        path: /spec/template/spec/initContainers
        value:
          - name: blueprint-merger
            image: docker.io/mikefarah/yq:4
            command: ["/bin/sh", "-c"]
            args:
              - |
                yq eval-all '. as $item ireduce ({}; . * $item)' /config/*.yaml > /data/blueprint.yaml
            volumeMounts:
              - name: blueprints-raw
                mountPath: /config
                readOnly: true
              - name: blueprints-merged
                mountPath: /data

      # Main Container updates
      - op: add
        path: /spec/template/spec/containers/0/args
        value:
          - --blueprint-file=/etc/pangolin/blueprint.yaml
      - op: add
        path: /spec/template/spec/containers/0/volumeMounts
        value:
          - name: blueprints-merged
            mountPath: /etc/pangolin
            readOnly: true

      # Volumes definitions
      - op: add
        path: /spec/template/spec/volumes
        value:
          - name: blueprints-raw
            configMap:
              name: blueprints-raw
          - name: blueprints-merged
            emptyDir: {}

helmCharts:
  - name: newt
    repo: https://charts.fossorial.io
    version: 1.1.0
    releaseName: newt
    namespace: newt
    includeCRDs: true
    valuesFile: values.yaml
