apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: newt

resources:
  - ../../base

helmCharts:
  - name: newt
    repo: https://charts.fossorial.io
    version: 1.1.0
    releaseName: newt
    namespace: newt
    includeCRDs: true
    valuesFile: values.yaml
