apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base
- recurringjob.yaml

helmCharts:
  - name: longhorn
    repo: https://charts.longhorn.io
    version: 1.10.1
    releaseName: longhorn
    namespace: longhorn-system
    valuesFile: values.yaml

patches:
- target:
    kind: Service
    name: longhorn-frontend
  patch: |-
    - op: remove
      path: /spec/ports/0/nodePort
