apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
- ../../base
- http-route.yaml
- http-route-api.yaml
- argocd-redis-network-policy.yaml

helmCharts:
- name: argo-cd
  repo: https://argoproj.github.io/argo-helm
  version: 9.1.0
  releaseName: argocd
  namespace: argocd
  includeCRDs: true
  valuesFile: values.yaml
