# https://github.com/argoproj/argo-helm/blob/main/charts/argo-cd/values.yaml
configs:
  cm:
    create: true
    application.resourceTrackingMethod: label
    url: https://argocd.cornfakes.xyz
    kustomize.buildOptions: '--enable-helm'

  cmp:
    create: true
    plugins:
      kustomize-build-with-helm:
        generate:
          command: [sh, -c]
          args: [kustomize build --enable-helm]
  params:
    controller.diff.server.side: true
    server.insecure: true
  rbac:
    create: true
    policy.csv: |
      g, ArgoCD Admins, role:admin
      g, ArgoCD Viewers, role:readonly
      g, ArgoCDAdmins, role:admin
      g, ArgoCDViewers, role:readonly
      g, argocd:admin, role:admin
      g, argocd:read_all, role:readonly

crds:
  install: true
  # -- Keep CRDs on chart uninstall
  keep: false

controller:
  replicas: 1
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
    limits:
      cpu: 500m
      memory: 2Gi
  metrics: &metrics
    enabled: true
    serviceMonitor:
      enabled: true

dex:
  enabled: false
  # resources:
  #   requests:
  #     cpu: 10m
  #     memory: 32Mi
  #   limits:
  #     memory: 128Mi

redis-ha:
  enabled: false

redis:
  enabled: true
  resources:
    requests:
      cpu: 50m
      memory: 32Mi
    limits:
      cpu: 100m
      memory: 64Mi
  metrics: *metrics

server:
  autoscaling:
    enabled: false
    minReplicas: 1
    # -- Maximum number of replicas for the Argo CD server [HPA]
    # Set to a lower number to avoid the chart default of 5
    maxReplicas: 2
  extensions:
    enabled: true
  service:
    type: LoadBalancer
    httpsPort: 443
    httpsTargetPort: 8443
  metrics: *metrics

  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      memory: 1Gi

repoServer:
  autoscaling:
    enabled: false
    minReplicas: 1
    # -- Maximum number of replicas for the repo server [HPA]
    # Set to a lower number to avoid the chart default of 5
    maxReplicas: 2
  pdb:
    enabled: false
    minAvailable: 1
  containerSecurityContext:
    readOnlyRootFilesystem: true
  volumes:
    - name: cmp-kustomize-build-with-helm
      configMap:
        name: argocd-cmp-cm
    - name: cmp-tmp
      emptyDir: {}
  resources:
    requests:
      cpu: 200m
      memory: 512Mi
    limits:
      cpu: 1000m
      memory: 1Gi
  extraContainers:
    - name: kustomize-build-with-helm
      command:
        - argocd-cmp-server
      image:
        '{{ default .Values.global.image.repository .Values.repoServer.image.repository }}:{{ default (include
        "argo-cd.defaultTag" .) .Values.repoServer.image.tag }}'
      securityContext:
        runAsNonRoot: true
        runAsUser: 999
        allowPrivilegeEscalation: false
        readOnlyRootFilesystem: true
        seccompProfile:
          type: RuntimeDefault
        capabilities:
          drop: [ALL]
      volumeMounts:
        - name: plugins
          mountPath: /home/argocd/cmp-server/plugins
        - name: cmp-kustomize-build-with-helm
          mountPath: /home/argocd/cmp-server/config/plugin.yaml
          subPath: kustomize-build-with-helm.yaml
        - mountPath: /tmp
          name: cmp-tmp
  metrics: *metrics

applicationSet:
  replicas: 1
  pdb:
    enabled: false
    minAvailable: 1
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      memory: 1Gi

notifications:
  enabled: false
  resources:
    requests:
      cpu: 100m
      memory: 64Mi
    limits:
      cpu: 1000m
      memory: 128Mi