apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cert-manager

resources:
- namespace.yaml

helmCharts:
- name: cert-manager
  includeCRDs: true
  releaseName: cert-manager
  version: v1.19.1
