argo-cd:
  server:
    metrics: &metrics
      enabled: false
      serviceMonitor:
        enabled: false
    service:
      type: LoadBalancer
  controller:
    metrics: *metrics
  repoServer:
    metrics: *metrics
  redis:
    metrics: *metrics
argocd-apps:
  applicationsets:
    root:
      generators:
        - git:
            repoURL: &repoURL https://github.com/eudaldgr/homelab-gitops
            revision: &revision main
            directories:
              - path: infrastructure/*
      template:
        spec:
          source:
            repoURL: *repoURL
            targetRevision: *revision