global:
  tolerations:
    - key: "node-role.kubernetes.io/storage"
      operator: "Exists"
      effect: "NoSchedule"

csi:
  attacherReplicaCount: 2
  provisionerReplicaCount: 2
  resizerReplicaCount: 2
  snapshotterReplicaCount: 2
  kubeletRootDir: /var/lib/kubelet
  plugin:
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 100m
        memory: 128Mi
  provisioner:
    resources:
      requests:
        cpu: 55m
        memory: 68Mi
      limits:
        cpu: 55m
        memory: 68Mi
  attacher:
    resources:
      requests:
        cpu: 50m
        memory: 64Mi
      limits:
        cpu: 50m
        memory: 64Mi
  resizer:
    resources:
      requests:
        cpu: 45m
        memory: 60Mi
      limits:
        cpu: 45m
        memory: 60Mi
  snapshotter:
    resources:
      requests:
        cpu: 60m
        memory: 70Mi
      limits:
        cpu: 60m
        memory: 70Mi
defaultBackupStore:
  backupTarget: 'nfs://10.1.30.50:/volume2/k8s/homelab-k3s/prod/longhorn/backups'
  pollInterval: 180
defaultSettings:
  createDefaultDiskLabeledNodes: true
  defaultReplicaCount: "2"
  guaranteedEngineManagerCPU: 0.2
  guaranteedReplicaManagerCPU: 0.2
  storageOverProvisioningPercentage: "200"
  storageMinimalAvailablePercentage: "10"
  taintToleration: 'node-role.kubernetes.io/storage=true:NoSchedule'
  defaultDataPath: /var/lib/longhorn/
  autoDeletePodWhenVolumeDetachedUnexpectedly: true
  autoSalvage: true
  replicaZoneSoftAntiAffinity: false
  concurrentReplicaRebuildPerNodeLimit: "1"
  replicaReplenishmentWaitInterval: "600"
  backupstorePollInterval: 300
  replicaSoftAntiAffinity: false
persistence:
  defaultClass: true
  defaultClassReplicaCount: 2
  reclaimPolicy: Retain
  defaultFsType: ext4
  snapshotMaxCount: 60
  defaultDataLocality: best-effort

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 100m
    memory: 128Mi

service:
  ui:
    type: LoadBalancer

longhornManager:
  priorityClass: system-cluster-critical
  resources:
    requests:
      cpu: 250m
      memory: 256Mi
    limits:
      cpu: 250m
      memory: 256Mi

longhornDriver:
  priorityClass: system-cluster-critical

preUpgradeChecker:
  jobEnabled: false

longhornUI:
  replicas: 3

metrics:
  serviceMonitor:
    enabled: true
    additionalLabels: {}
    annotations: {}
    interval: '30s'
    scrapeTimeout: '10s'
    relabelings: []
    metricRelabelings: []