argo-cd:
  configs:
    cm:
      kustomize.buildOptions: '--enable-helm'
    cmp:
      create: true
      plugins:
        kustomize-build-with-helm:
          generate:
            command: [sh, -c]
            args: [kustomize build --enable-helm]
  server:
    metrics: &metrics
      enabled: false
      serviceMonitor:
        enabled: false
    service:
      type: LoadBalancer
  controller:
    # clusterAdminAccess:
    #   enabled: true
    metrics: *metrics
  repoServer:
    metrics: *metrics
  redis:
    metrics: *metrics
argocd-apps:
  applicationsets:
    root:
      generators:
        - git:
            repoURL: &repoURL https://github.com/eudaldgr/homelab-gitops
            revision: &revision main
            directories:
              - path: infra/*
      template:
        spec:
          source:
            repoURL: *repoURL
            targetRevision: *revision