apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: node-feature-discovery

resources:
  - namespace.yaml
  - https://raw.githubusercontent.com/intel/intel-device-plugins-for-kubernetes/main/deployments/nfd/overlays/node-feature-rules/node-feature-rules.yaml

helmCharts:
  - name: node-feature-discovery
    repo: https://kubernetes-sigs.github.io/node-feature-discovery/charts
    version: 0.18.3
    releaseName: nfd
    includeCRDs: true
    namespace: node-feature-discovery
    # valuesInline:
    #   master:
    #     extraLabelNs:
    #       - intel.feature.node.kubernetes.io
    #       - gpu.intel.com
    #     extraArgs:
    #       - --feature-gates=NodeFeatureAPI=true
    #   worker:
    #     config:
    #       core:
    #         sleepInterval: 60s
    #         featureSources: ["cpu","pci","usb","system","kernel"]
