apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml

helmCharts:
  - name: node-feature-discovery
    repo: https://kubernetes-sigs.github.io/node-feature-discovery/charts
    version: 0.18.3
    releaseName: nfd
    includeCRDs: true
    namespace: node-feature-discovery
    valuesInline:
      worker:
        config:
          core:
            sleepInterval: 60s
            featureSources: ["cpu","pci","usb","gpu","system"]
      extraRules:
        - name: intel-igpu-rule
          labels:
            intel.feature.node.kubernetes.io/gpu: "true"
          matchFeatures:
            - feature: pci.device
              matchExpressions:
                vendor: {op: In, value: ["8086"]}
                class: {op: In, value: ["0300", "0302"]}